{% extends "layout.html" %}

{% block title %}
Pic Talk | Home page
{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h2 class="mt-4 ">Your pic talk is here just start sharing your thouhgts</h2>
    <img src="https://img.freepik.com/free-vector/content-editor-editing-feed-vector_53876-77882.jpg?t=st=1722359238~exp=1722362838~hmac=3fcfba01c42339e10ad7fdea44b8ed1a40a5ce1999bddfccf3468f97194b1f2c&w=740" alt="img" class="img-fluid mb-4" 
    style="max-width: 50%; height: 50%; border-radius: 15px;">
    <a href="{% url "tweet_list" %}" class="btn btn-success">Go to Tweets Page</a>
</div>
{% endblock %}