{% extends "layout.html" %}

{% block title %}
Pic Talk | Home page
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center  mt-5">
    <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-vector/content-editor-editing-feed-vector_53876-77882.jpg?t=st=1722359238~exp=1722362838~hmac=3fcfba01c42339e10ad7fdea44b8ed1a40a5ce1999bddfccf3468f97194b1f2c&w=740" class="card-img-top" alt="img">
        <div class="card-body">
          <h2 class="card-text">Your pic talk is here just start sharing your thoughts</h2>
          <a href="{% url 'tweet_list' %}" class="btn btn-success">Tweets Page</a>
        </div>
    </div>
</div>
{% endblock %}