{% extends "layout.html" %}

{% block title %}
pic Talk
{% endblock %}

{% block content %}
<h2 class="text-center mt-4"> 
    {% if form.instance.pk %}
    Edit Tweet
    {% else %}
    Create Tweet
    {% endif %}
</h2>

<form method="POST" enctype="multipart/form-data" class="form">
    {% comment %} always have to pass this csrf token  {% endcomment %}
    {% csrf_token %} 
    {{form.as_p}}
    <button class="btn btn-warning" type="submit">Post</button>
</form>
<a href={% url "tweet_list" %}>Back to all tweets</a>

{% endblock %}